.bottomNav{
  width:100%;
  height:10vh;
  z-index:100;
  left:0;
  top:0;
  background:rgb(255,255,255);
  opacity:0.9;
  text-align:center;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background 1s;
  -webkit-transition: background 1s;
}
.nav-link{
  background:transparent;
  font-family: "微软雅黑";
  padding: 3vh 4vw 3vh 4vw;
  line-height:60px;
  font-size:1.2em;
  font-weight:100;
  text-decoration:none;
  color:black;
}
.nav-link:hover,.self{
  color:green;
  border:1px solid transparent;
  border-bottom-width:5px;
  border-bottom-color:green;
  text-decoration:none
}
a:link{
  text-decoration:none;
  color:black;
}
a:visited{
  text-decoration:none;
  color:black;
}
.bottomNav a:hover{
  text-decoration:none;
  color:green;
}
a:active{
  text-decoration:none;
}
p{
  text-indent:2em;
  font-size:20px;
  font-family:"微软雅黑";
  font-weight:100;
}
@media (max-width:900px){
  p{
    font-size:15px;
  }
}
footer{
  height:28vh
}
@media (max-width:768px){
  footer{
    height:15vh
  }
}
.navigate{
  width:100%;
  height:70px;
  margin-top:10px;
  background-color:#313131;
  text-align:center;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.navigate a{
  color:white;
  padding: 20px 4vw 30px 4vw;
  line-height:60px;
  font-size:1.2em;
  font-weight:100;
}
.active{
  background-color:#0091ff;
}
.content{
  background-color:white;
  padding:50px 140px;
}
.media-list{
  padding:30px;
  list-style:none;
}
li{
  width: 100%;
  background-color: #fff;
  position: relative;
  margin-bottom: 9px;
  border: 1px solid #e5e5e5;
  padding: 8px 13px;
}
.news-title{
  color: #000;
  font-size: 16px;
  font-weight: bolder;
  padding: 6px 28px;
}
.img-mask{
  padding: 9px 30px;
  background-color: #e5e5e5;
  display: inline-block;
  height: 34px;
  width: 100%;
  position: relative;
}
.img-text{font-size: 13px;}
.img-mask a{
  position: absolute;
  right: 0;
  background-color: #0091ff;
  padding: 9px 40px;
  top: 0;
  color: #fff;
  letter-spacing: 10px;
  font-size: 16px;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
.content2{
  padding:50px 50px;
}
.rm-video{
  margin-bottom:10px;
}
@media (max-width: 991px) and (min-width: 768px){
  .content{
    padding: 30px 50px;
  }
  .content2{
    padding: 30px 30px;
  }
}
@media (max-width: 767px){
  .content{
    padding: 10px 0px;
  }
  .content2{
    padding: 10px 0px;
  }
  .media-list{
    padding:2px;
  }
}